<a href='/events'><img src='/images/backArrow.png' /></a>

<h1>My favorite Events</h1>
<div>
  {{#each event.myEvents}}
    <div>
      <h3>{{this.name}} </h3>
      <p>Location: {{this.location}}</p>
      <p>Date: {{this.date}} </p>
      <p>Price: {{this.price}} €</p>
    </div>
  {{/each}}
</div>