{{! <h1>Signup</h1>

<form action="/signup" method="POST">
  <label for="Name">Name</label>
  <input type="text" id="name" name="name" >

<label for="password">Password</label>
  <input type="password" id="password" name="password" >
  <button type="submit">Login</button>
</form> }}