{{!-- bottom menu --}}

<nav class="navbar">
    <ul class="menu">

        {{!-- home --}}
        <li><a href="/events">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>home</title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="hm" transform="translate(1.000000, 1.000000)" fill-rule="nonzero" stroke="#979797">
                            <path
                                d="M20.8,5.78469771 L12.68,0.494697714 C11.6571134,-0.164899238 10.3428866,-0.164899238 9.32,0.494697714 L1.2,5.78469771 C0.471763371,6.2187205 0.0183201547,6.99713135 0,7.84469771 L0,22.0046977 L9,22.0046977 L9,16.4346977 L13,16.4346977 L13,22.0046977 L22,22.0046977 L22,7.84469771 C21.9816798,6.99713135 21.5282366,6.2187205 20.8,5.78469771 Z"
                                id="home" stroke-width="2"></path>
                        </g>
                    </g>
                </svg>

            </a></li>

        {{!-- search --}}

        <li><a href="/" class="icon-btn">

                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>search-path</title>
                    <g id="Page-1" stroke-width="2" fill="none">
                        <path
                            d="M9.5,18 C4.80557939,18 1,14.1944206 1,9.5 C1,4.80557939 4.80557939,1 9.5,1 C14.1944206,1 18,4.80557939 18,9.5 C18,11.3366522 17.4174803,13.0372495 16.4271164,14.4271164 L22.0119176,20.0119176 C22.5621186,20.5621186 22.5575313,21.4424687 22.0117185,21.9882815 L21.9882815,22.0117185 C21.4438648,22.5561352 20.5576204,22.5576204 20.0119176,22.0119176 L14.4271164,16.4271164 C13.0372495,17.4174803 11.3366522,18 9.5,18 Z"
                            id="search-path"></path>
                    </g>
                </svg>
            </a></li>

        {{!-- favs --}}

        <li><a href="/users/myevents" class="icon-btn">
                <svg xmlns="http://www.w3.org/2000/svg" id="favs" viewBox="0 0 24 24" fill="none" stroke="grey"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">

                    <path
                        d="m492.495 215.812c8.836 0 16-7.163 16-16v-81.104c0-8.837-7.164-16-16-16h-476.495c-8.836 0-16 7.163-16 16v81.104c0 8.837 7.164 16 16 16 21.193 0 38.435 17.242 38.435 38.436s-17.242 38.434-38.435 38.434c-8.836 0-16 7.163-16 16v81.105c0 8.837 7.164 16 16 16h476.495c8.836 0 16-7.163 16-16v-81.105c0-8.837-7.164-16-16-16-21.193 0-38.435-17.241-38.435-38.435s17.242-38.435 38.435-38.435zm-460.495 107.037c31.156-7.265 54.435-35.266 54.435-68.602s-23.279-61.337-54.435-68.602v-50.938h119.938v239.08h-119.938zm444.495 0v50.938h-292.557v-239.08h292.557v50.938c-31.155 7.265-54.435 35.267-54.435 68.603s23.28 61.336 54.435 68.601z" />
                </svg>
            </a></li>

        {{!-- profile --}}
        <li><a href="/users/profile" class="icon-btn">
                <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <title />
                    <g id="about">
                        <path d="M16,16A7,7,0,1,0,9,9,7,7,0,0,0,16,16ZM16,4a5,5,0,1,1-5,5A5,5,0,0,1,16,4Z" />
                        <path
                            d="M17,18H15A11,11,0,0,0,4,29a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1A11,11,0,0,0,17,18ZM6.06,28A9,9,0,0,1,15,20h2a9,9,0,0,1,8.94,8Z" />
                    </g>
                </svg>
            </a></li>
    </ul>

</nav>