<h1>{{title}}</h1>
<p>Discover events in your city</p>

<button class='primary-button'><a href='/auth/signup'>Sign up</a></button>
<br />
<button class='secondary-button'><a href='/auth/login'>Log in</a></button>

{{! <form action='/auth/logout' method='POST'>
  <button>Logout</button>
</form> }}
<br /><br />
{{! <a href='/events'>Events list</a> }}