{{!-- <h1>{{title}}</h1> --}}

<div class="index-container">
  <div class="logo">
    <img src="./images/icons/bee.svg" alt="logo">
    <h1 class="logotipo">BeeThere</h1>
  </div>

  <p class="payoff">Best events in your city</p>
  <br>
  <br>
  
  

  <button class='primary-button'><a href='/auth/signup'>Sign up</a></button>
  <br>
  <br>
  <button class='secondary-button'><a href='/auth/login'>Log in</a></button>
</div>