{{!-- <h1>{{title}}</h1> --}}

<div class="index-container">
  <div class="logo">
    <img src="./images/pop-logo.svg" alt="logo">
  </div>

  <p>Best events in your city</p>
  <br>
  <br>
  
  

  <button class='primary-button'><a href='/auth/signup'>Sign up</a></button>
  <br />
  <button class='secondary-button'><a href='/auth/login'>Log in</a></button>
</div>