<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Menu comodin</p>
    <a href="/">Home</a>
    <a href="#">My Events</a>
    <a href="#">User profile</a>
    <a href="/events">Go to events list</a>
    {{{body}}}
  </body>
</html>
