


body {
  font: 200 16px/1.5 “Helvetica Neue”,
  Helvetica,
  Arial,
  sans-serif;
  background-color: #1D1D1D;
  color: #D4D1CC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font: 14px ‘Lucida Grande’, Helvetica, Arial, sans-serif;
}
/* a {
  color:#d4d1cc;
  border: 1px, solid, white;
} */
.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  margin-top: 15vh;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 40vw;
}
.primary-button {
  text-align: center;
  background: #FFEB3B;
  border: 1px solid #FFEB3B;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  /* transition: 0.3s ease background; */
  width: 60vw;
}
.primary-button a {
  font-weight: 600;
  text-decoration: none;
  color: #1D1D1D;
}
.secondary-button {
    background: none;
    border: 1px solid #D4D1CC;
    color: #D4D1CC;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    /* transition: 0.3s ease background; */
    width: 60vw;
}
.secondary-button a {
    font-weight: 400;
    text-decoration: none;
    color: #D4D1CC;
}
.third-button {
    background: none;
    border: 1px solid #D4D1CC;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    /* transition: 0.3s ease background; */
    width: 40vw;
}
.third-button a {
    font-weight: 400;
    text-decoration: none;
    color: #D4D1CC;
}

form {
  /* margin: 30px auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52vh;
}
form label {
  color: rgb(121, 121, 121);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
form input {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 5vh;
  color: #1D1D1D;
  background-color: #D4D1CC;
  border: 1px solid #D4D1CC;
}

.error {
  text-align: center;
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
/* ul {
  border-bottom: 2px solid #43A3E6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}
ul li {
  line-height: 20px;
}
#to-right {
  padding: 1em;
  float: right;
}
#to-right span {
  color: #43A3E6;
  font-size: 1.5em;
} */
/* #form h2 {
  display: flex;
  justify-content: center;
} */

/* #to-left {
  float: left;
}
#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
} */

.event-img {
  width: 250px;
  height: 200px;
}

/* appBar bottom */
.navbar{
  overflow: hidden;
  background-color: #292929;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.menu {
  padding: 0;
  margin: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.menu li {
  width: 25px;
}

/* home menu icon */
#home{
  stroke: #D4D1CC;
}
a:focus #home {
  stroke: #FFEB3B;
}

/* search menu icon */
#search-path {
  stroke: #D4D1CC;
}
a:focus #search-path {
  stroke: #FFEB3B;
}

/* favs menu icon */
#coupon {
  fill: #D4D1CC;
  width: 30px;
}
a:focus #coupon {
  fill: #FFEB3B;
}

/* favs menu icon */
#about {
  fill: #D4D1CC;
}
a:focus #about {
  fill: #FFEB3B;
}

/* .menu p {
  font-size: 8px;
  color: white;
} */

/* fab button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 20px;
  font-size:18px;
  background-color: #FFEB3B;
  color: #1D1D1D;
  border-radius: 50px;
  text-align: center;
  /* box-shadow: 2px 2px 3px #999; */
}
.my-float {
  margin-top: 22px;
}

/* arrow left .svg*/
.arrow-lft-container {
  width: 100%;
  margin-top: 10px;
}

#Layer_1 {
  width: 20px;
  fill: #D4D1CC;
}

/* .up-bckd {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(51, 51, 51);
} */

#User-profile {
  fill: #D4D1CC;
  width: 100px;
}

/* edit icon */
.svg-inline--fa, .fa-pen, .fa-w-16 {
  width: 20px;
}

/*trash icon*/
.svg-inline--fa,
.fa-trash-alt, 
.fa-w-14 {
  width: 20px;
  color: #D4D1CC;
}

.trash {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

.delete-form {
  margin: 0;
  padding: 0;
  width: 20px;
}


.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.event-card {
  background: rgb(43, 43, 43);
  width: 100%;
  padding: 10px;
}
